<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015399295909-88oqbl33npqmrs5vht3a0al8cktkvr0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015399295909-88oqbl33npqmrs5vht3a0al8cktkvr0c</string>
	<key>API_KEY</key>
	<string>AIzaSyDzYo6HU8k32HmFdCeCIleib0nI14XqXUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1015399295909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.astar</string>
	<key>PROJECT_ID</key>
	<string>x-physio</string>
	<key>STORAGE_BUCKET</key>
	<string>x-physio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015399295909:ios:efc31323e6a2444e4b164c</string>
</dict>
</plist>